apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: clusterhoprds.hoprnet.org
  namespace: {{ .Release.Namespace | quote }}
spec:
  group: hoprnet.org
  names:
    kind: ClusterHoprd
    plural: clusterhoprds
    singular: clusterhoprd
    shortNames:
      - clusterhoprd
  scope: Namespaced
  versions:
    - name: v1alpha3
      served: true
      storage: true
      additionalPrinterColumns:
        - name: Phase
          type: string
          description: ClusterHoprd phase
          jsonPath: .status.phase
        - name: Pool
          type: string
          description: Pool name
          jsonPath: .spec.identityPoolName
        - name: version
          type: string
          description: Hoprd version
          jsonPath: .spec.version
        - name: Replicas
          type: number
          description: Replicas
          jsonPath: .spec.replicas
        - name: Current
          type: number
          description: Nodes running
          jsonPath: .status.currentNodes
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
      schema:
        openAPIV3Schema:
          description: Schema definition for ClusterHoprd Node
          type: object
          properties:
            spec:
              type: object
              properties:
                identityPoolName:
                  type: string
                  description: The name of the IdentityPool
                replicas:
                  type: number
                  description: Number of instances for this configuration
                config:
                  type: string
                  description: Yaml configuration for Hoprd nodes
                version:
                  type: string
                  description: An specific hoprd version. Should match with a docker tag
                enabled:
                  type: boolean
                  description: 'Flag indicating if the node should be started or stopped'
                service:
                  type: object
                  description: Service configuration
                  properties:
                    type:
                      type: string
                      enum:
                        - LoadBalancer
                        - ClusterIP
                      description: The type of service to create
                    portsAllocation:
                      type: number
                      description: >-
                        Number of ports to be opened for session management in the hoprd node.
                        Each session requires one port. Default: 10 ports if not specified.
                        Warning: Large numbers may impact kubernetes cluster performance.
                      minimum: 1
                      maximum: 200
                  required:
                    - type
                deployment:
                  type: object
                  description: Deployment configuration
                  properties:
                    env:
                      type: string
                      description: The definition for environment variables to be used by the node deployment
                    resources:
                      type: string
                      description: The definition for hardware resources to be used by the node deployment
                    startupProbe:
                      type: string
                      description: The definition of the startup probe to be used by the node deployment
                    livenessProbe:
                      type: string
                      description: The definition of the liveness probe to be used by the node deployment
                    readinessProbe:
                      type: string
                      description: The definition of the readiness probe to be used by the node deployment
                    extraContainers:
                      type: string
                      description: The definition of extra containers to be added to the node deployment
                profilingEnabled:
                  type: boolean
                  description: Flag indicating whether to enable profiling sidecar container
                sourceNodeLogs:
                  type: string
                  description: Name of the hoprd node to upload logs from
              required: 
                - identityPoolName
                - replicas
                - config
                - version
                - portsAllocation
            status:
              description: The status object of ClusterHord node
              nullable: true
              properties:
                updateTimestamp:
                  format: date-time
                  type: string
                  description: Timestamp of the last applied change
                checksum:
                  type: string
                  description: Checksum of the last applied change
                phase:
                  description: Phase of the last applied change
                  type: string
                  enum:
                  - Initialized
                  - NotScaled
                  - Scaling
                  - Failed
                  - Ready
                  - Deleting
                currentNodes:
                  type: number
                  description: Number of nodes running
              required: [ "updateTimestamp", "checksum", "phase", "currentNodes"]
              type: object
          required:
            - spec
    - name: v1alpha2
      additionalPrinterColumns:
      - description: ClusterHoprd phase
        jsonPath: .status.phase
        name: Phase
        type: string
      - description: Pool name
        jsonPath: .spec.identityPoolName
        name: Pool
        type: string
      - description: Hoprd version
        jsonPath: .spec.version
        name: version
        type: string
      - description: Replicas
        jsonPath: .spec.replicas
        name: Replicas
        type: number
      - description: Nodes running
        jsonPath: .status.currentNodes
        name: Current
        type: number
      - jsonPath: .metadata.creationTimestamp
        name: Age
        type: date
      schema:
        openAPIV3Schema:
          description: Schema definition for ClusterHoprd Node
          properties:
            spec:
              properties:
                config:
                  description: Yaml configuration for Hoprd nodes
                  type: string
                deployment:
                  description: Deployment configuration
                  properties:
                    env:
                      description: The definition for environment variables to be used
                        by the node deployment
                      type: string
                    extraContainers:
                      description: The definition of extra containers to be added to
                        the node deployment
                      type: string
                    livenessProbe:
                      description: The definition of the liveness probe to be used by
                        the node deployment
                      type: string
                    readinessProbe:
                      description: The definition of the readiness probe to be used
                        by the node deployment
                      type: string
                    resources:
                      description: The definition for hardware resources to be used
                        by the node deployment
                      type: string
                    startupProbe:
                      description: The definition of the startup probe to be used by
                        the node deployment
                      type: string
                  type: object
                enabled:
                  description: Flag indicating if the node should be started or stopped
                  type: boolean
                forceIdentityName:
                  description: Flag indicating whether the identityName should be specified
                    in child Hoprd
                  type: boolean
                identityPoolName:
                  description: The name of the IdentityPool
                  type: string
                portsAllocation:
                  description: 'Number of ports to be opened for session management
                    in the hoprd node. Each session requires one port. Default: 10 ports
                    if not specified. Warning: Large numbers may impact kubernetes cluster
                    performance.'
                  maximum: 200
                  minimum: 0
                  type: number
                profilingEnabled:
                  description: Flag indicating whether to enable profiling sidecar container
                  type: boolean
                replicas:
                  description: Number of instances for this configuration
                  type: number
                service:
                  description: Service configuration
                  properties:
                    type:
                      description: The type of service to create
                      enum:
                      - LoadBalancer
                      - ClusterIP
                      type: string
                  required:
                  - type
                  type: object
                sourceNodeLogs:
                  description: Name of the hoprd node to upload logs from
                  type: string
                supportedRelease:
                  description: Release Name of the supported version
                  enum:
                  - saint-louis
                  - kaunas
                  type: string
                version:
                  description: An specific hoprd version. Should match with a docker
                    tag
                  type: string
              required:
              - identityPoolName
              - replicas
              - config
              - version
              - supportedRelease
              - portsAllocation
              type: object
            status:
              description: The status object of ClusterHord node
              nullable: true
              properties:
                checksum:
                  description: Checksum of the last applied change
                  type: string
                currentNodes:
                  description: Number of nodes running
                  type: number
                phase:
                  description: Phase of the last applied change
                  enum:
                  - Initialized
                  - NotScaled
                  - Scaling
                  - Failed
                  - Ready
                  - Deleting
                  type: string
                updateTimestamp:
                  description: Timestamp of the last applied change
                  format: date-time
                  type: string
              required:
              - updateTimestamp
              - checksum
              - phase
              - currentNodes
              type: object
          required:
          - spec
          type: object