---

apiVersion: v2
name: hoprd-operator
version: 0.2.36
appVersion: 0.2.39
description: A Helm chart operator for managing Hopr nodes
type: application
icon: "https://hoprnet.org/assets/icons/logo.svg"
