---

apiVersion: v2
name: hoprd-operator
version: 0.4.1-rc.2
appVersion: 0.4.0-rc.9
description: A Helm chart operator for managing Hopr nodes
type: application
icon: "https://hoprnet.org/assets/icons/logo.svg"
