---

apiVersion: v2
name: hoprd-operator
version: 0.4.0-rc.7
appVersion: 0.4.0
description: A Helm chart operator for managing Hopr nodes
type: application
icon: "https://hoprnet.org/assets/icons/logo.svg"
