hoprdOperator:

  ## @section Hopr AdminUI Parameters
  ##

  adminUI:

    ## @param hoprdOperator.adminUI.enabled Whether to install Hopr Admin UI
    ##
    enabled: true

    ## @param hoprdOperator.adminUI.replicas Replicas for AdminUI deployment
    ##
    replicas: 1

    ## @param hoprdOperator.adminUI.resources Resource specification to AdminUI deployment
    ##
    resources: {}
        # We usually recommend not to specify default resources and to leave this as a conscious
        # choice for the user. This also increases chances charts run on environments with little
        # resources, such as Minikube. If you do want to specify resources, uncomment the following
        # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
        # limits:
        #   cpu: 100m
        #   memory: 128Mi
        # requests:
        #   cpu: 100m
        #   memory: 128Mi

    image:
      ## @param hoprdOperator.adminUI.image.registry Docker registry to AdminUI deployment
      ##
      registry: europe-west3-docker.pkg.dev

      ## @param hoprdOperator.adminUI.image.repository Docker image repository to AdminUI deployment
      ##
      repository: hoprassociation/docker-images/hopr-admin

      ## @param hoprdOperator.adminUI.image.tag Docker image tag to AdminUI deployment
      ##
      tag: stable

      ## @param hoprdOperator.adminUI.image.pullPolicy Pull policy to AdminUI deployment as deinfed in 
      ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
      ##
      pullPolicy: Always

    service:

      ## @param hoprdOperator.adminUI.service.type service type
      ##
      type: ClusterIP
      ports:

        ## @param hoprdOperator.adminUI.service.ports.http service HTTP port number
        ##  
        http: 8080

        ## @param hoprdOperator.adminUI.service.ports.name service HTTP port name
        ##
        name: http

    ingress:

      ## @param hoprdOperator.adminUI.ingress.enabled Enable ingress record generation
      ##
      enabled: true

      ## @param hoprdOperator.adminUI.ingress.pathType Ingress path type
      ##
      pathType: ImplementationSpecific

      ## @param hoprdOperator.adminUI.ingress.ingressClassName IngressClass that will be be used to implement the Ingress
      ##
      ingressClassName: "nginx"

      ## @param hoprdOperator.adminUI.ingress.hostname Default host for the ingress record
      ##
      hostname: admin.hoprd.cluster.local

      ## @param hoprdOperator.adminUI.ingress.path Default path for the ingress record
      ##
      path: /

      ## @param hoprdOperator.adminUI.ingress.annotations [object] Additional custom annotations for the ingress record
      ##
      annotations: {}

      ## @param hoprdOperator.adminUI.ingress.extraPaths [array] An array with additional arbitrary paths that may need to be added to the ingress under the main host
      ## e.g:
      ## extraPaths:
      ## - path: /*
      ##   backend:
      ##     service:
      ##       name: other-service
      ##       port:
      ##         name: service-port-name
      ##
      extraPaths: []

## @section Hopr Operator Parameters
##

  hopli:
    ## @param hoprdOperator.hopli.registry Docker registry to hopli image
    ##
    registry: europe-west3-docker.pkg.dev

    ## @param hoprdOperator.hopli.repository Docker image to hopli binary
    ##
    repository: hoprassociation/docker-images/hopli

    ## @param hoprdOperator.hopli.tag Docker image tag to hopli image
    ##
    tag: latest

  fastSync:
    ## @param hoprdOperator.fastSync.enabled Enable Fast Sync
    ## Required: true
    enabled: false

    ## @param hoprdOperator.fastSync.bucketName Name of the bucket to store the logs
    ## Required: true when fast-sync is enabled
    bucketName: ""

    ## @param hoprdOperator.fastSync.namespaces Allowed namespaces for uploading logs
    namespaces: []

    crossplane:
      provider:
        ## @param hoprdOperator.fastSync.crossplane.provider.crossplane Crossplane provider name for Crossplane
        ##
        crossplane: ""
        ## @param hoprdOperator.fastSync.crossplane.provider.upbound Crossplane provider name for GCP
        ##
        upbound: ""

      ## @param hoprdOperator.fastSync.crossplane.gcpProjectId GCP Project ID
      ##
      gcpProjectId: ""

  ## @param hoprdOperator.defaultHoprdEnvVars Environment variables to be set in the Hoprd Nodes
  ##
  defaultHoprdEnvVars: {}
  # HOPRD_PROVIDER: http://localhost:8080/apiKey

  ## @param hoprdOperator.resources Resource specification to operator deployment
  ##
  resources: {}
      # We usually recommend not to specify default resources and to leave this as a conscious
      # choice for the user. This also increases chances charts run on environments with little
      # resources, such as Minikube. If you do want to specify resources, uncomment the following
      # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
      # limits:
      #   cpu: 100m
      #   memory: 128Mi
      # requests:
      #   cpu: 100m
      #   memory: 128Mi

  ## @param hoprdOperator.extraEnvVars Array of extra environment variables
  ##
  extraEnvVars: []
  # extraEnvVars: 
  #   - name: RUST_BACKTRACE
  #     value: full
  #   - name: RUST_LOG
  #     value: "hoprd_operator=INFO"

  image:
    ## @param hoprdOperator.image.registry Docker registry to operator deployment
    ##
    registry: europe-west3-docker.pkg.dev

    ## @param hoprdOperator.image.repository Docker image repository to operator deployment
    ##
    repository: hoprassociation/docker-images/hoprd-operator

    ## @param hoprdOperator.image.tag Docker image tag to operator deployment
    ##
    tag: ""

    ## @param hoprdOperator.image.pullPolicy Pull policy to operator deployment as deinfed in 
    ## ref: http://kubernetes.io/docs/user-guide/images/#pre-pulling-images
    ##
    pullPolicy: Always

  ingress:
    ## @param hoprdOperator.ingress.ingressClassName Name of the ingress class name to be used by Hoprd nodes
    ##
    ingressClassName: "nginx"

    ## @param hoprdOperator.ingress.dnsDomain Name of the DNS suffix domain to be added to Hoprd nodes
    ##
    dnsDomain: ""

    ## @param hoprdOperator.ingress.namespace Namespace of the running ingress controller
    ##
    namespace: ""

    ## @param hoprdOperator.ingress.annotations Annotations to be added to ingress resources of Hoprd nodes
    ## @skip hoprdOperator.ingress.annotations
    ##
    annotations: {}

    ## @param hoprdOperator.ingress.loadBalancerIP Public IP of the LoadBalancer Service for the Ingress 
    ##
    loadBalancerIP: ""

    ports:
      ## @param hoprdOperator.ingress.ports.min Starting port to open on Ingress controller
      ##
      min: 9000

      ## @param hoprdOperator.ingress.ports.max End port to open on Ingress controller
      ##
      max: 10000

    ## @param hoprdOperator.ingress.deploymentName Labels selector to choose the Nginx deployment and service
    ##
    deploymentName: ""

  persistence:
    ## @param hoprdOperator.persistence.size Size of the persistence Volume
    ##
    size: 500Mi
    ## @param hoprdOperator.persistence.storageClassName Name of the storage class
    ##
    storageClassName: ""

  webhook:

    ## @param hoprdOperator.webhook.enabled Whether to enable the webhook server
    ##
    enabled: true
    tls:
      ## @param hoprdOperator.webhook.tls.crt TLS certificate for the webhook server
      ##
      crt: ""
      ## @param hoprdOperator.webhook.tls.key TLS private key for the webhook server
      ##
      key: ""
