hoprdOperator:
  adminUI:
    enabled: true
    hostname: hoprd-v4.staging.hoprnet.link
    image:
      tag: 3.0.3
    ingress:
      annotations:
        cert-manager.io/cluster-issuer: gcp-issuer
        nginx.ingress.kubernetes.io/server-snippets: |
            more_set_headers "Content-Security-Policy: upgrade-insecure-requests";
  persistence:
    size: 4Gi
    storageClassName: regional-pd
  image:
    tag: latest
  hopli:
    tag: 2.2.3
  fastSync:
    enabled: true
    bucketName: logs-snapshots-rotsee.hoprnet.org
    namespaces:
      - core-team
      - ctdapp
      - demo-nodes
    crossplane:
      provider:
        crossplane: gcp-crossplane
        upbound: gcp-upbound
      gcpProjectId: hopr-staging
  extraEnvVars: 
    - name: RUST_BACKTRACE
      value: full
    - name: RUST_LOG
      value: "hoprd_operator=DEBUG"
  ingress:
    dnsDomain: staging.hoprnet.link
    annotations:
      nginx.ingress.kubernetes.io/enable-cors: "true"
      nginx.ingress.kubernetes.io/cors-allow-headers: "x-auth-token,content-type,accept-content"
      cert-manager.io/cluster-issuer: "gcp-issuer"
      nginx.ingress.kubernetes.io/proxy-connect-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
      nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    namespace: ingress-nginx
    loadBalancerIP: 34.159.20.69
    deploymentName: ingress-nginx-controller
