{{- if .Values.crds.install }}
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: clusterhoprds.hoprnet.org
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hoprd-operator.labels" . | nindent 4 }}
    {{- if .Values.operator.commonLabels }}
    {{- .Values.operator.commonLabels | toYaml | nindent 4 }}
    {{- end }}
{{- if .Values.operator.commonAnnotations }}
  annotations:
    {{- .Values.operator.commonAnnotations | toYaml | nindent 4 }}
{{- end }}
spec:
  group: hoprnet.org
  names:
    kind: ClusterHoprd
    plural: clusterhoprds
    singular: clusterhoprd
    shortNames:
      - clusterhoprd
  scope: Namespaced
  versions:
    - name: v1alpha2
      served: true
      storage: true
      additionalPrinterColumns:
        - name: Phase
          type: string
          description: ClusterHoprd phase
          jsonPath: .status.phase
        - name: Pool
          type: string
          description: Pool name
          jsonPath: .spec.identityPoolName
        - name: version
          type: string
          description: Hoprd version
          jsonPath: .spec.version
        - name: Replicas
          type: number
          description: Replicas
          jsonPath: .spec.replicas
        - name: Current
          type: number
          description: Nodes running
          jsonPath: .status.currentNodes
        - name: Age
          type: date
          jsonPath: .metadata.creationTimestamp
      schema:
        openAPIV3Schema:
          description: Schema definition for ClusterHoprd Node
          type: object
          properties:
            spec:
              type: object
              properties:
                identityPoolName:
                  type: string
                  description: The name of the IdentityPool
                replicas:
                  type: number
                  description: Number of instances for this configuration
                config:
                  type: string
                  description: Yaml configuration for Hoprd nodes
                version:
                  type: string
                  description: An specific hoprd version. Should match with a docker tag
                enabled:
                  type: boolean
                  description: 'Flag indicating if the node should be started or stopped'
                supportedRelease:
                  type: string
                  description: 'Release Name of the supported version'
                  enum:
                    - saint-louis
                    - kaunas
                forceIdentityName:
                  type: boolean
                  description: Flag indicating whether the identityName should be specified in child Hoprd
                service:
                  type: object
                  description: Service configuration
                  properties:
                    type:
                      type: string
                      enum:
                        - LoadBalancer
                        - ClusterIP
                      description: The type of service to create
                  required:
                    - type
                deployment:
                  type: object
                  description: Deployment configuration
                  properties:
                    env:
                      type: string
                      description: The definition for environment variables to be used by the node deployment
                    resources:
                      type: string
                      description: The definition for hardware resources to be used by the node deployment
                    startupProbe:
                      type: string
                      description: The definition of the startup probe to be used by the node deployment
                    livenessProbe:
                      type: string
                      description: The definition of the liveness probe to be used by the node deployment
                    readinessProbe:
                      type: string
                      description: The definition of the readiness probe to be used by the node deployment
                    extraContainers:
                      type: string
                      description: The definition of extra containers to be added to the node deployment
                profilingEnabled:
                  type: boolean
                  description: Flag indicating whether to enable profiling sidecar container
                portsAllocation:
                  type: number
                  description: >-
                    Number of ports to be opened for session management in the hoprd node.
                    Each session requires one port. Default: 10 ports if not specified.
                    Warning: Large numbers may impact kubernetes cluster performance.
                  minimum: 0
                  maximum: 200
                sourceNodeLogs:
                  type: string
                  description: Name of the hoprd node to upload logs from
              required: 
                - identityPoolName
                - replicas
                - config
                - version
                - supportedRelease
                - portsAllocation
            status:
              description: The status object of ClusterHord node
              nullable: true
              properties:
                updateTimestamp:
                  format: date-time
                  type: string
                  description: Timestamp of the last applied change
                checksum:
                  type: string
                  description: Checksum of the last applied change
                phase:
                  description: Phase of the last applied change
                  type: string
                  enum:
                  - Initialized
                  - NotScaled
                  - Scaling
                  - Failed
                  - Ready
                  - Deleting
                currentNodes:
                  type: number
                  description: Number of nodes running
              required: [ "updateTimestamp", "checksum", "phase", "currentNodes"]
              type: object
          required:
            - spec
{{- end }}