---
{{- if .Values.hoprdOperator.fastSync.enabled }}
apiVersion: iam.gcp.crossplane.io/v1alpha1
kind: ServiceAccount
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  name: {{ include "hoprd-operator.fullname" . }}-sa
spec:
  deletionPolicy: Delete
  forProvider:
    description: Hoprd Operator Service Account for GCP
    displayName: Hoprd Operator Service Account
  providerConfigRef:
    name: {{ required "Error: You must specify a value for operator.fastSync.crossplane.provider.crossplane"  .Values.hoprdOperator.fastSync.crossplane.provider.crossplane }}

{{- if gt (len .Values.hoprdOperator.fastSync.namespaces) 0 }}
{{- $fullName := include "hoprd-operator.fullname" . -}}
{{ range $i, $namespace := .Values.hoprdOperator.fastSync.namespaces }}
---
apiVersion: iam.gcp.crossplane.io/v1alpha1
kind: ServiceAccountKey
metadata:
  name: "{{ $fullName }}-gcp-sa-key-{{ $namespace }}"
spec:
  deletionPolicy: Delete
  forProvider:
    serviceAccountRef:
      name: {{ $fullName }}-sa
  providerConfigRef:
    name: {{ $.Values.hoprdOperator.fastSync.crossplane.provider.crossplane }}
  writeConnectionSecretToRef:
    name: google-service-account-key
    namespace: {{ $namespace }}
{{- end}}
{{- end }}
---
apiVersion: iam.gcp.crossplane.io/v1alpha1
kind: ServiceAccountPolicy
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "2"
  name: {{ include "hoprd-operator.fullname" . }}-sa-policy
spec:
  deletionPolicy: Delete
  forProvider:
    policy:
      bindings:
      - members:
        - "serviceAccount:{{ include "hoprd-operator.fullname" . }}-sa@{{ required "Error: You must specify a value for operator.fastSync.crossplane.gcpProjectId" .Values.hoprdOperator.fastSync.crossplane.gcpProjectId }}.iam.gserviceaccount.com"
        role: roles/iam.workloadIdentityUser
    serviceAccount: projects/{{ .Values.hoprdOperator.fastSync.crossplane.gcpProjectId }}/serviceAccounts/{{ include "hoprd-operator.fullname" . }}-sa@{{ .Values.hoprdOperator.fastSync.crossplane.gcpProjectId }}.iam.gserviceaccount.com
  providerConfigRef:
    name: {{ .Values.hoprdOperator.fastSync.crossplane.provider.crossplane }}
---
apiVersion: storage.gcp.upbound.io/v1beta1
kind: BucketIAMMember
metadata:
  name: {{ include "hoprd-operator.fullname" . }}-bucket-read
spec:
  forProvider:
    bucket: {{ required "Error: .Values.hoprdOperator.fastSync.bucketName must be set" .Values.hoprdOperator.fastSync.bucketName }}
    member: allUsers
    role: roles/storage.objectViewer
  providerConfigRef:
    name: {{ required "Error: .Values.hoprdOperator.fastSync.crossplane.provider.upbound must be set" .Values.hoprdOperator.fastSync.crossplane.provider.upbound }}
---
apiVersion: storage.gcp.upbound.io/v1beta1
kind: BucketIAMMember
metadata:
  name: {{ include "hoprd-operator.fullname" . }}-bucket-write
spec:
  forProvider:
    bucket:  {{ .Values.hoprdOperator.fastSync.bucketName }}
    member: serviceAccount:{{ include "hoprd-operator.fullname" . }}-sa@{{ .Values.hoprdOperator.fastSync.crossplane.gcpProjectId }}.iam.gserviceaccount.com
    role: roles/storage.legacyBucketWriter
  providerConfigRef:
    name: {{ .Values.hoprdOperator.fastSync.crossplane.provider.upbound }}
{{- end }}