---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hoprd-operator.fullname" . }}-controller
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hoprd-operator.labels" . | nindent 4 }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/component: operator
      app.kubernetes.io/instance: {{ include "hoprd-operator.name" . }}
      app.kubernetes.io/name: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: operator
        app.kubernetes.io/instance: {{ include "hoprd-operator.name" . }}
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        runAsNonRoot: false
      containers:
      - name: operator
        image: "{{ .Values.hoprdOperator.image.registry }}/{{ .Values.hoprdOperator.image.repository }}:{{ default .Chart.AppVersion .Values.hoprdOperator.image.tag }}"
        imagePullPolicy: {{ .Values.hoprdOperator.image.pullPolicy }}
        securityContext:
          runAsUser: 0
          runAsGroup: 0
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          seccompProfile: 
            type: RuntimeDefault
          capabilities:
            drop:
            - ALL
        {{- if .Values.webhook.enabled }}
        ports:
          - name: webhook
            containerPort: 8443
            protocol: TCP
        {{- end }}
        {{- if .Values.hoprdOperator.resources }}
        resources: {{- toYaml .Values.hoprdOperator.resources | nindent 12 }}
        {{- else }}
        resources:
          limits:
            cpu: 100m
            memory: 50Mi
          requests:
            cpu: 10m
            memory: 1Mi
        {{- end }}
        {{- if .Values.hoprdOperator.extraEnvVars }}
        env:
          {{- toYaml .Values.hoprdOperator.extraEnvVars | nindent 10 }} 
        {{- end }}
        volumeMounts:
          - name: hopr-config-volume
            mountPath: /app/config
        {{- if .Values.webhook.enabled }}
          - name: webhook-tls
            mountPath: /tls
            readOnly: true
        {{- end }}
      serviceAccountName: {{ include "hoprd-operator.fullname" . }}
      volumes:
        - name: hopr-config-volume
          configMap:
            name: {{ include "hoprd-operator.fullname" . }}-config
      {{- if .Values.webhook.enabled }}
        - name: webhook-tls
          secret:
            secretName: {{ include "hoprd-operator.fullname" . }}-webhook-tls
      {{- end }}
