---
{{- if .Values.hoprdOperator.adminUI.enabled }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "hoprd-operator.fullname" . }}-admin
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hoprd-adminui.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.hoprdOperator.adminUI.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/component: admin
      app.kubernetes.io/instance: {{ include "hoprd-operator.name" . }}
      app.kubernetes.io/name: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/component: admin
        app.kubernetes.io/instance: {{ include "hoprd-operator.name" . }}
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        runAsNonRoot: false
      containers:
      - name: admin-ui
        image: {{ printf "%s/%s:%s" .Values.hoprdOperator.adminUI.image.registry .Values.hoprdOperator.adminUI.image.repository .Values.hoprdOperator.adminUI.image.tag }}
        imagePullPolicy: {{ .Values.hoprdOperator.adminUI.image.pullPolicy }}
        securityContext:
          runAsUser: 0
          runAsGroup: 0
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          seccompProfile: 
            type: RuntimeDefault
        {{- if .Values.hoprdOperator.adminUI.resources }}
        resources: {{- toYaml .Values.hoprdOperator.adminUI.resources | nindent 12 }}
        {{- else }}
        resources:
          limits:
            cpu: 500m
            memory: 1000Mi
          requests:
            cpu: 100m
            memory: 100Mi
        {{- end }}
        livenessProbe:
          failureThreshold: 6
          httpGet:
            path: /
            port: 4677
            scheme: HTTP
          initialDelaySeconds: 0
          periodSeconds: 60
          successThreshold: 1
          timeoutSeconds: 5
        ports:
        - containerPort: 4677
          name: {{ .Values.hoprdOperator.adminUI.service.ports.name }}
          protocol: TCP
        readinessProbe:
          failureThreshold: 6
          httpGet:
            path: /
            port: 4677
            scheme: HTTP
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 5
        volumeMounts:
          - mountPath: /var/cache/nginx
            name: nginx-cache
          - mountPath: /var/run
            name: nginx-run
      serviceAccountName: {{ include "hoprd-operator.fullname" . }}
      volumes:
        - name: nginx-cache
          emptyDir: {}
        - name: nginx-run
          emptyDir: {}
{{- end }}
