{{- if .Values.hoprdOperator.adminUI.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "hoprd-operator.fullname" . }}-admin-ui
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hoprd-adminui.labels" . | nindent 4 }}
  annotations:
    {{- if .Values.hoprdOperator.adminUI.ingress.annotations }}
        {{- .Values.hoprdOperator.adminUI.ingress.annotations | toYaml | nindent 4 }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.hoprdOperator.adminUI.ingress.ingressClassName | quote }}
  rules:
    {{- if .Values.hoprdOperator.adminUI.ingress.hostname }}
    - host: {{ .Values.hoprdOperator.adminUI.ingress.hostname }}
      http:
        paths:
          {{- if .Values.hoprdOperator.adminUI.ingress.extraPaths }}
          {{- toYaml .Values.hoprdOperator.adminUI.ingress.extraPaths | nindent 10 }}
          {{- end }}
          - path: {{ .Values.hoprdOperator.adminUI.ingress.path }}
            pathType: {{ .Values.hoprdOperator.adminUI.ingress.pathType }}
            backend:
                service:
                    name: {{ include "hoprd-operator.fullname" . }}-admin-ui
                    port:
                        name: {{ .Values.hoprdOperator.adminUI.service.ports.name }}
    {{- end }}
  tls:
    - hosts:
        - {{ .Values.hoprdOperator.adminUI.ingress.hostname }}
      secretName: {{ .Values.hoprdOperator.adminUI.ingress.hostname }}-tls
{{- end }}
