apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  annotations:
    prometheus-operator-validated: "true"
  labels:
    prometheus_rule: "true"
  name: '{{ include "hoprd-operator.fullname" . }}-node-rules'
spec:
  groups:
  - name: hoprd-nodes
    rules:
    - alert: HoprdNodeProcessRebooted
      annotations:
        description: Hoprd node {{`{{`}}  $labels.namespace{{`}}`}} /{{`{{`}} $labels.job {{`}}`}} process rebooted.
        summary: Hoprd node rebooted (OOM).
      expr: |-
        # When the pod is running correctly and the hoprdnode reboots internally without affecting the pod
        sum by(namespace) (abs(sum (kube_pod_start_time) by (namespace, pod) - sum (hopr_start_time) by (namespace, pod)) > 120 AND avg((time() - hopr_start_time < 120)) by (namespace, pod))
      for: 1m
      labels:
        severity: critical
    - alert: HoprdHealthChanged
      annotations:
        description: Hoprd node {{`{{`}}  $labels.namespace{{`}}`}} /{{`{{`}} $labels.job {{`}}`}} restarted.
        summary: Hoprd node restarted.
      expr: |-
        # When the node is running for more than 15 minutes and the health status is not green in the last 5 minutes
        sum by (namespace) (hopr_network_health{namespace!~"team-node|ambassadors"} < 4 and (time() - hopr_start_time{namespace!~"team-node|ambassadors"}) > 900)
      for: 5m
      labels:
        severity: critical
