---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "hoprd-operator.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hoprd-operator.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
- apiGroups:
  - "events.k8s.io"
  resources:
  - events
  verbs:
  - create
- apiGroups:
  - "monitoring.coreos.com"
  resources:
  - servicemonitors
  verbs:
  - create
  - get
  - list
  - watch
  - delete
- apiGroups:
  - "networking.k8s.io"
  resources:
  - ingresses
  verbs:
  - create
  - get
  - list
  - watch
  - delete
- apiGroups:
  - ""
  resources:
  - pods
  - secrets
  - services
  - configmaps
  - serviceaccounts
  - persistentvolumeclaims
  verbs:
  - get
  - create
  - list
  - update
  - patch
  - watch
  - delete
- apiGroups:
  - "rbac.authorization.k8s.io"
  resources:
  - roles
  - rolebindings
  verbs:
  - get
  - create
  - list
  - update
  - patch
  - watch
  - delete
- apiGroups:
  - "apps"
  resources:
  - deployments
  verbs:
  - get
  - create
  - list
  - update
  - patch
  - watch
  - delete
- apiGroups:
  - "batch"
  resources:
  - jobs
  - cronjobs
  verbs:
  - get
  - create
  - list
  - update
  - patch
  - watch
- apiGroups:
  - hoprnet.org
  resources:
  - hoprds
  - identitypools
  - identityhoprds
  - clusterhoprds
  verbs:
  - get
  - list
  - watch
  - create
  - delete
  - update
  - patch
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "hoprd-operator.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hoprd-operator.labels" . | nindent 4 }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "hoprd-operator.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hoprd-operator.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "hoprd-operator.fullname" . }}
subjects:
- kind: ServiceAccount
  name: {{ include "hoprd-operator.fullname" . }}
  namespace: {{ .Release.Namespace | quote }}