apiVersion: v1
kind: Secret
metadata:
  name: {{ include "hoprd-operator.fullname" . }}-default-env-vars
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hoprd-operator.labels" . | nindent 4 }}
  annotations:
    replicator.v1.mittwald.de/replication-allowed: "true"
    replicator.v1.mittwald.de/replication-allowed-namespaces: "*"
data:
  {{- range $key, $value := .Values.hoprdOperator.defaultHoprdEnvVars }}
  {{ $key }}: {{ $value | b64enc | quote }}
  {{- end }}
type: Opaque
