{{- if .Values.hoprdOperator.adminUI.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "hoprd-operator.fullname" . }}-admin
  namespace: {{ .Release.Namespace | quote }}
  labels:
    {{- include "hoprd-adminui.labels" . | nindent 4 }}
spec:
  type: {{ .Values.hoprdOperator.adminUI.service.type }}
  sessionAffinity: None
  {{- if (eq .Values.hoprdOperator.adminUI.service.type "LoadBalancer") }}
  externalTrafficPolicy: Cluster
  {{- end }}
  ports:
    - port: {{ .Values.hoprdOperator.adminUI.service.ports.http }}
      name: {{ .Values.hoprdOperator.adminUI.service.ports.name }}
      targetPort: {{ .Values.hoprdOperator.adminUI.service.ports.name }}
  selector:
      app.kubernetes.io/component: admin
      app.kubernetes.io/instance: {{ include "hoprd-operator.name" . }}
      app.kubernetes.io/name: {{ .Release.Name }}
{{- end }}