---
apiVersion: hoprnet.org/v1alpha2
kind: ClusterHoprd
metadata:
  name: {{ include "cluster-hoprd.name" . }}
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "4"
spec:
  identityPoolName: {{ include "cluster-hoprd.name" . }}
  replicas: {{ .Values.clusterHoprd.replicas }}
  version: {{ .Values.clusterHoprd.version | quote }}
  enabled: {{ .Values.clusterHoprd.enabled | default true }}
  {{- if .Values.clusterHoprd.nodes.deployment }}
  deployment: {{ .Values.clusterHoprd.nodes.deployment | toYaml | nindent 4 }}
  {{- end }}
  profilingEnabled: {{ .Values.clusterHoprd.profiling.enabled | default false }}
  portsAllocation: {{ .Values.clusterHoprd.nodes.service.portsAllocation }}
  service: {{ .Values.clusterHoprd.nodes.service | toYaml | nindent 4 }}
  config: {{ .Values.clusterHoprd.nodes.config | toYaml | nindent 4 }}
  {{ if .Values.clusterHoprd.logs.upload.enabled }}
  sourceNodeLogs: {{ .Values.clusterHoprd.logs.upload.sourceNode }}
  {{- end -}}
