---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cluster-hoprd.name" . }}-env-vars
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "3"
    {{- if .Values.clusterHoprd.nodes.replicateEnvVars }}
    replicator.v1.mittwald.de/replicate-from: {{ .Values.clusterHoprd.nodes.replicateEnvVarsName }}
    {{- else }}
    replicator.v1.mittwald.de/replication-ignored: "true"
    {{- end }}
data:
  HOPRD_API_TOKEN: {{ .Values.clusterHoprd.nodes.hoprdApiToken | b64enc | quote }}
  HOPRD_PASSWORD: {{ .Values.clusterHoprd.nodes.identityPassword | b64enc | quote }}
  {{- range $key, $value := .Values.clusterHoprd.nodes.envVars }}
  {{ $key }}: {{ $value | b64enc | quote }}
  {{- end }}
