---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "cluster-hoprd.name" . }}-wallet
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
data:
  DEPLOYER_PRIVATE_KEY: {{ .Values.clusterHoprd.funding.deployerPrivateKey | b64enc }}
